@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Yantramanav', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

button,input,textarea{
  font-family: 'Yantramanav', sans-serif;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.bg-gradient{
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 0% 11%, rgba(207, 255, 148, 1) 0%, rgba(255, 255, 255, 1) 26%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 0% 11%, rgba(207, 255, 148, 1) 0%, rgba(255, 255, 255, 1) 26%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 0% 11%, rgba(207, 255, 148, 1) 0%, rgba(255, 255, 255, 1) 26%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 0% 11%, rgba(207, 255, 148, 1) 0%, rgba(255, 255, 255, 1) 26%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 0% 11%, rgba(160, 195, 159,0.6) 0%, rgba(255, 255, 255, 1) 46%);
}